<li class="nav-header">
    <div class="dropdown profile-element"> <span>
        <%= image_tag "/assets/default/profile_small.jpg", class: "img-circle"%>
         </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">用户</strong>
         </span> <span class="text-muted text-xs block">角色 </span> </span> </a>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>