<div class="am-g">
	<div class="am-u-sm-12 am-u-md-6">
		<div class="am-btn-toolbar">
			<div class="am-btn-group am-btn-group-xs">
				<%= link_to_dialog new_background_menu_path, class: "am-btn am-btn-default am-btn-success", dialog: "common_dialog('新增菜单')" do %>
					<span class="am-icon-plus"></span> 新增
				<% end %>
			</div>
		</div>
	</div>


	<%= form_for @query, url: background_menus_path, method: :get do |f|%>
		<div class="am-u-sm-12 am-u-md-3">
			<div class="am-input-group am-input-group-sm">
			  <%= f.text_field :name_cont, placeholder: "菜单名", class: "am-form-field"%>
			  <span class="am-input-group-btn">
			    <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="submit"></button>
			  </span>
			</div>              
		</div>
	<% end %>

</div>
